<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/reset.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">

    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <h1>학년별 이수 학점 상세 조회</h1>
    <div class="container pt-4 mw-100">
        <div class="form-group d-flex mb-2">
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" style="width: 100px">년도</th>
                <th scope="col" style="width: 100px">학기</th>
                <th scope="col" style="width: 300px">교과목명</th>
                <th scope="col" style="width: 100px">교과구분</th>
                <th scope="col" style="width: 150px">담당교수</th>
                <th scope="col" style="width: 100px">학점</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="courses : ${list}">
                <th scope="row">
                    <span th:text="${courses.lectureDate}"></span>
                </th>
                <td>
                    <span th:text="${courses.semester}"></span>
                </td>
                <td>
                    <span th:text="${courses.subjectName}"></span>
                </td>
                <td>
                    <span th:text="${courses.subjectClassification}"></span>
                </td>
                <td>
                    <span th:text="${courses.professor}"></span>
                </td>
                <td>
                    <span th:text="${courses.grades}"></span>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <span>총계</span>
                </th>
                <th>
                    <span></span>
                </th>
                <th>
                    <span></span>
                </th>
                <th>
                    <span></span>
                </th>
            </tr>
            </tbody>
        </table>

        <div class="form-group d-flex justify-content-between align-items-center">
            <div class="col-auto" style="padding-right: 150px">
                <a th:href="@{/board/write}" class="btn btn-primary ml-2">글쓰기</a>
            </div>
        </div>
    </div>
</body>
</html>