<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/reset.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet">

    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <h1>메인화면 입니다.</h1>
    <button class="gle" onclick="location.href='/login'">로그인</button>
    <button class="gle" onclick="location.href='/credit'">학년별 이수 학점 조회</button>
    <button class="gle" onclick="location.href='/enrolment'">수강 신청</button>
    <button class="gle" onclick="location.href='/enrolmentInquiry'">수강 신청 조회</button>
</body>
</html>